@import './base.css';

:root {
  --a-color: #516585;
  --hover-color: #000000;
}

* {
  position: relative;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--a-color);
  transition: 0.4s;
  padding: 3px;
  font-size: 1.5rem;
  font-weight: bold;
}
.logo {
  width: 34px;
  height: 34px;
}

@font-face {
  font-family: Bitcount;
  src: url(./font/Bitcount-Regular.ttf);
}

@media (hover: hover) {
  a:hover {
    /* background-color: var(--hover-color); */
    color: var(--hover-color);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: left;
    flex-direction: column;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
